html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

//Overall styling for the body of the document
body{
    background-color: $secondaryColor;
}

// -----------NAVIGATION ------------------
nav {
    background-color: $secondaryColor;
 ul li{
     float: left;
     width: 25%;
 }
}

//Overall styling for the MAIN of the document
h1{
    color: $primaryColor;
}

// Overall styling for the FOOTER of the document
footer{
    background-color: $primaryColor;
}
  /*--   Clearfix: Force an element not to collapse
   Add this class to anything you want to stay open ---*/
  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }