$primaryColor: rgb(17, 72, 109);

$secondaryColor: rgb(61, 168, 230);
$thirdColor: rgb(201, 216, 224);

$fontColor: #35373a;

$defaultFont: "Lato", sans-serif;
$normalWeight: 300;
$boldWeight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
$accent: rgb(161, 161, 87);

